div.test1{
  background-color: green;
}

div.test2{
  font-size: 32pt;
}

.navbar-default{
  background-color: #2F4F4F
}

li.active{
  background-color: #0e3964
}

img{
    margin-left: auto;
    margin-right: auto;
}

tr.success{
  background-color: red;
}

div{
  color:blue
}
